In [1]:
import requests
countries_api_res = requests.get('http://api.worldbank.org/countries?format=json&per_page=100')
countries = countries_api_res.json()[1]

In [2]:
print(len(countries))

100

In [3]:
import pprint
pprint.pprint(countries[0])

{'adminregion': {'id': '', 'value': ''},
 'capitalCity': 'Oranjestad',
 'id': 'ABW',
 'incomeLevel': {'id': 'HIC', 'value': 'High income'},
 'iso2Code': 'AW',
 'latitude': '12.5167',
 'lendingType': {'id': 'LNX', 'value': 'Not classified'},
 'longitude': '-70.0167',
 'name': 'Aruba',
 'region': {'id': 'LCN', 'value': 'Latin America & Caribbean '}}

In [4]:
import sqlite3
conn = sqlite3.connect('banco_teste.db')
c = conn.cursor()
c.execute("CREATE TABLE countries (id varchar(3), data json)")

In [5]:
import json
for country in countries:
    c.execute("insert into countries values (?, ?)",
    [country['id'], json.dumps(country)])
    conn.commit()
conn.close()

In [6]:
import pandas as pd
connection = sqlite3.connect('banco_teste.db')
countries = pd.read_sql_query("select json_extract(data, '$.name') from countries", connection)
connection.close()
countries

                         json_extract(data, '$.name')
0                                               Aruba
1                                         Afghanistan
2                                              Africa
3                                              Angola
4                                             Albania
5                                             Andorra
6                                       Andean Region
7                                          Arab World
8                                United Arab Emirates
9                                           Argentina
10                                            Armenia
11                                     American Samoa
12                                Antigua and Barbuda
13                                          Australia
14                                            Austria
15                                         Azerbaijan
16                                            Burundi
17          East Asia & Pacific (IBRD-only countries)
18        Europe & Central Asia (IBRD-only countries)
19                                            Belgium
20                                              Benin
21                                       Burkina Faso
22                                         Bangladesh
23                                           Bulgaria
24           IBRD countries classified as high income
25                                            Bahrain
26                                       Bahamas, The
27                             Bosnia and Herzegovina
28  Latin America & the Caribbean (IBRD-only count...
29                                            Belarus
..                                                ...
70     IDA countries classified as Fragile Situations
71                                           Djibouti
72  Latin America & the Caribbean (IDA-eligible co...
73                                           Dominica
74  Middle East & North Africa (IDA-eligible count...
75  IDA countries not classified as Fragile Situat...
76                                            Denmark
77  IDA countries in Sub-Saharan Africa not classi...
78                                 Dominican Republic
79                South Asia (IDA-eligible countries)
80  IDA countries in Sub-Saharan Africa classified...
81        Sub-Saharan Africa (IDA-eligible countries)
82            IDA total, excluding Sub-Saharan Africa
83                                            Algeria
84        East Asia & Pacific (excluding high income)
85                         Early-demographic dividend
86                                East Asia & Pacific
87      Europe & Central Asia (excluding high income)
88                              Europe & Central Asia
89                                            Ecuador
90                                   Egypt, Arab Rep.
91                                          Euro area
92                                            Eritrea
93                                              Spain
94                                            Estonia
95                                           Ethiopia
96                                     European Union
97           Fragile and conflict affected situations
98                                            Finland
99                                               Fiji

[100 rows x 1 columns]